body {
    font-family: Arial;
    margin: 0 30px;
    background-color: azure;
}

input {
    margin: 4px 0;
}

.nav li {
    display: inline-block;
    width: 150px;
    background-color: white;
}

.message {
    border: solid 1px darkmagenta;
    margin: 8px;
    padding: 8px;
}
.message .meta {
    font-size: 10px;
}