{% extends "layout.html" %}

{% block page_content %}
<h1>LOGIN</h1>
<form method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" /><br/>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" /><br/>
    <input type="submit" value="Login!"/>

</form>

{% if incorrect_login %}
  <span style="color: red; font-weight: bold;">Username or password is incorrect!</span>
{% endif %}

{% endblock page_content %}
